.table-row {
    padding: 12px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.col-1{
  text-align: center;
}
.col-2{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
.col-3{
  text-align: left;
}
.col-4{
text-align: left;
}
.col-5{
text-align: left;
}
.col-6{
text-align: left;
}
.col-7{
text-align: left;
}

/* .table-row:nth-child(1) {
  background-color: #ffffff;
} */
.table-row:nth-child(odd) {
  background-color: #ffffff;
}
.table-row:nth-child(even) {
  background-color: #d2dfff;
}
.table-row:hover {
  background-color: #88a9ff;
}
.table-head {
  background-color: #d9ddeb !important;
  cursor: default;
}
.table-head:hover {
  background-color: #ffffff;
}
