.image-container{
    flex: 0.5;
    border-right: 2px solid rgb(119, 148, 211);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-container{
    flex: 0.5;
    background-color: rgb(118, 118, 199);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    
}
.head-container {
    width: 200px;
    list-style: none;
    display: block;
}

.content-row {
    width: 100%;
}