.storybook-heading{
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  margin: 0;
}

.storybook-heading--xs {
    font-size: 16px;
    margin: 8px;
}
.storybook-heading--sm {
    font-size: 24px;
     margin: 12px;
}
.storybook-heading--md {
    font-size: 32px;
     margin: 16px; 
}
.storybook-heading--lg {
    font-size: 40px;
     margin: 20px;
}
.storybook-heading--xl {
    font-size: 48px;
     margin: 24px;
}